@import 'config';
@import 'mystyles';

// CUSTOM USER STYLES & IMPORTS


.header {
    max-height: 920;
    width: 100%;
    background-image: url(Images/Heder_2/Heder.jpg);
    h1 {
        padding: 3rem auto;
    }
}